
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá bán</th>
        <th scope="col">Loại sản phẩm</th>
        <th scope="col">Kích cở</th>
        <th scope="col">Màu sắc</th>
        <th scope="col-2">Chỉnh sửa</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.categorySlug}}</td>
        <td>{{this.size}}</td>
        <td>{{this.color}}</td>
        <td>
          <a href="/products/{{this._id}}/edit" class="btn btn-link">Sửa </a>
          <a
            href=""
            class="btn btn-link"
            data-id="{{this._id}}"
            data-toggle="modal"
            data-target="#delete-course-modal">Xóa</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
